.cleanInterface, .superCleanMode {
  .trading-chart__left, .app__sidebar, .MDytE {
    display: none !important;
  }

  .trading-chart-settings, .M6Rz0 {
    left: 0 !important;
  }

  .trading-chart__wrapper {
    padding: 0;
  }

  .pair-information, .MrYyj {
    display: none;
  }

  .---react-pages-TradePage-components-ChartPanel-TopCorner-ServerTime-styles-module__wrapper--avpWc, .trading-chart__indicators, .ETWRI, .ydqvh {
    margin-left: 0;
  }

  .app__sidebar.---react-features-Sidebar-styles-module__sidebar--kmNSA {
    display: none;
  }

  .app.app--fixed {
    padding-left: 0 !important;

    &.app--sidepanel-open {
      padding-left: 230px !important;
    }
  }

  .---react-features-Sidepanel-styles-module__sidepanel--GIUEs.---react-features-Sidepanel-styles-module__bgBlack--y29PX.---react-features-Sidepanel-styles-module__active--qe_nH, .app__sidepanel {
    left: 0 !important;
  }
}

.superCleanMode {
  .page__sidebar, .page__header {
    display: none;
  }

  .page__body {
    max-height: 100vh !important;
  }
}

.hideMarketSentiment {
  .trading-chart__left, .MDytE {
    display: none;
  }

  .trading-chart__wrapper {
    padding: 0;
  }

  .---react-pages-TradePage-components-ChartPanel-TopCorner-ServerTime-styles-module__wrapper--avpWc, .pair-information, .trading-chart__indicators, .ETWRI, .MrYyj, .ydqvh {
    margin-left: 0;
  }

  .trading-chart-settings, .M6Rz0 {
    left: 0 !important;
  }
}

.priceNotificationNavigation {
  .notification-tracked-value, .iuQNi {
    cursor: pointer;
  }
}

.deepDarkMode {
  --bg-color: #0f0f0f;      
  --bg-secondary: #1a1a1a; 
  --border: #2a2a2a;  
  --hover-color: #242424;

  --sidebar-bg-color: var(--bg-color);
  --page-bg-color-0: var(--bg-color);
  --page-bg-color-100: #141414;
  --sidepanel-bg-dark: var(--bg-color);
  --popover-bg-item: var(--bg-color);
  --graph-tab-bg-active: var(--bg-color);

  --sidebar-bg-button: var(--bg-secondary);
  --sidebar-bg-section: var(--bg-secondary);
  --graph-tab-fixed-bg: var(--bg-secondary);
  --deal-list-bg: var(--bg-secondary);
  --graph-tab-bg: var(--bg-secondary);
  --usermenu-bg: var(--bg-secondary);
  --header-notifications-bg: var(--bg-secondary);
  --deal-list-tab-bg-active: var(--bg-secondary);
  
  --header-notifications-bg-hover: var(--hover-color);
  --usermenu-bg-hover: var(--hover-color);
  --usermenu-bg-dropdown: var(--hover-color);
  --sidebar-bg-button-hover: var(--hover-color);
  --color-white: var(--hover-color);
  
  --graph-tab-border: var(--border);
  --graph-tab-bg-hover: var(--border);
  --deal-list-tabs-bg: var(--border);

  --graph-tab-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  --chart-bg-button: hsla(0, 0%, 100%, .05);

  .---react-features-Sidepanel-Settings-Theme-Item-styles-module__slider--dBWCu {
    cursor: not-allowed;
  }
}
